# Python Pandas Tutorial (Part 7): Sorting Data

In [17]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Adam', 'Noah'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Doe', 'As'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', 'AdamDoe@email.com', 'N@email.com']
}

In [2]:
import pandas as pd

In [18]:
df_new = pd.DataFrame(people)

In [19]:
df_new

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe        AdamDoe@email.com
4   Noah       As              N@email.com

# Lets we want to sort our dataframe by lastname

In [20]:
df_new.sort_values(by='last', ascending=False) #Sorting in descending order, if ascending make it True

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe        AdamDoe@email.com
4   Noah       As              N@email.com

# Sorting by lastname and then firstname in descending order

In [21]:
df_new.sort_values(by = ['last', 'first'], ascending = False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
3   Adam      Doe        AdamDoe@email.com
4   Noah       As              N@email.com

# firstname in descending order and lastname is ascending order

In [22]:
df_new.sort_values(by = ['last', 'first'], ascending = [False, True])

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe        AdamDoe@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
4   Noah       As              N@email.com