# Pandas Tutorial 02
Data Frame and Data Series Data Type

Selecting Rows and Columns

In [1]:
import pandas as pd
df = pd.read_csv("/home/mostafiz/Python-Practice/Pandas/DataSet/developer_survey_2019/survey_results_public.csv")

In [2]:
#Create a dictionary 
Person = { 
    'FirstName': ['Mostafiz'],
    'LastName': ['Rahman'],
    'Email': ['mostafizur@bacbd.org']
}

In [3]:
Person = { 
    'FirstName': ['Mostafiz', 'Md.', 'Tariq'],
    'LastName': ['Rahman', 'Mahin', 'Ali'],
    'Email': ['mostafizur@email.com', 'md_mahin@email.com', 'tariqali@email.com']
}

In [4]:
Person

{'FirstName': ['Mostafiz', 'Md.', 'Tariq'],
 'LastName': ['Rahman', 'Mahin', 'Ali'],
 'Email': ['mostafizur@email.com', 'md_mahin@email.com', 'tariqali@email.com']}

In [5]:
Person['Email'] #Accessing the elements of Person

['mostafizur@email.com', 'md_mahin@email.com', 'tariqali@email.com']

# Convert Dictionary to Data Frame

In [6]:
df_new = pd.DataFrame(Person)

In [7]:
df_new

  FirstName LastName                 Email
0  Mostafiz   Rahman  mostafizur@email.com
1       Md.    Mahin    md_mahin@email.com
2     Tariq      Ali    tariqali@email.com

In [8]:
df_new['Email'] #Accessing element from df

0    mostafizur@email.com
1      md_mahin@email.com
2      tariqali@email.com
Name: Email, dtype: object

In [9]:
type(df_new['Email']) #Check the data type

pandas.core.series.Series

In [10]:
#List all the columns
df_new.columns

Index(['FirstName', 'LastName', 'Email'], dtype='object')

# loc and iloc

In [11]:
#iloc - access rows by integer location
df_new.iloc[0] #It will give you the information of first row

FirstName                Mostafiz
LastName                   Rahman
Email        mostafizur@email.com
Name: 0, dtype: object

In [12]:
#Select first and second row of the Data Frame
df_new.iloc[[0, 1]] #We passed a list [0, 1]

  FirstName LastName                 Email
0  Mostafiz   Rahman  mostafizur@email.com
1       Md.    Mahin    md_mahin@email.com

In [13]:
#We can use iloc method to select the column as well
df_new.iloc[[0, 1], 2] #This command will select email (column no 2)from rows 0 and 1 [0, 1]

0    mostafizur@email.com
1      md_mahin@email.com
Name: Email, dtype: object

In [14]:
#loc - access rows by label
df_new.loc[[0, 1], 'Email'] #This command will select email from rows 0 and 1 [0, 1]

0    mostafizur@email.com
1      md_mahin@email.com
Name: Email, dtype: object

In [15]:
#Lets you want to show email and lastname of [0, 1] rows, pass a list of 'Email' and 'LastName' as second value
df_new.loc[[0, 1], ['Email', 'LastName'] ]

                  Email LastName
0  mostafizur@email.com   Rahman
1    md_mahin@email.com    Mahin

# Going back to our big data set

In [16]:
df.shape

(88883, 85)

In [18]:
df.columns #You can see all columns in the data frame df

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [19]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [21]:
#To count the response use value_counts()
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

# use loc function

In [26]:
df.loc[100:105, 'Hobbyist']

100    Yes
101     No
102    Yes
103    Yes
104    Yes
105    Yes
Name: Hobbyist, dtype: object

In [25]:
df.loc[100:105, 'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
100,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em..."
101,No,Never,The quality of OSS and closed source software ...,Employed full-time
102,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, but looking for work"
103,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time
104,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time
105,Yes,Less than once per year,NaN,Employed full-time